*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    width: 1440px;
    margin: 0 auto;

}
.header-top {
    display: flex;
    justify-content: space-between;
}
.second-line {
    display: flex;
    gap: 120px;
}
.second-line button {
    width: 100px;
    height: 40px;
    background-color: rgb(68, 117, 120);
}
footer{
    width: 1440px;
    background: rgb(25, 66, 64);
    margin: 0 auto;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    padding: 30px;
    text-align: center;
}

footer p{
    color: rgba(255, 255, 255, 0.6);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
}
footer p:hover{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
}

.section-end{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px;
    background: rgb(27, 25, 24);
}

.count{
    gap: 90px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.count-content h1{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding: 35px;
}
.count-card h4{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0%;
text-align: left;
}
.count-card p{
    color: rgb(167, 166, 164);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0%;
text-align: left;
}
.count-btn{
    border-radius: 8px;
background: rgb(46, 43, 41);
width: 142px;
height: 42px;
color: rgb(255, 255, 255);
font-family: Roboto;
list-style: none;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0%;
text-align: center;
position: absolute;
left: 0;
}
.btn-content{
    padding: 50px;
    position: relative;
}
 
.see{
    margin: 0 auto;
display: flex;
background: rgb(27, 25, 24);
width: 1440px;
height: 600px;
gap: 50px;
}
.see-text h1{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 44.8px;
    letter-spacing: 0%;
    text-align: center;
}

.see-text p{
    color: rgb(167, 166, 164);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
letter-spacing: 0%;
text-align: center;
}
.see-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px;
}
.see-img img{
 width: 258px;
}
.see-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 100px;
}



